* {
   /*  background-color: rgb(74, 74, 234); */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin: 0px;
}