<app-header></app-header>
<!-- Cart -->
<div class="cart">
      <h2>Cart</h2>

    <!-- Card Items  -->
    <div class="cart-items">
      <div class="cards">
        <!-- Cards -->
        <div class="card" *ngFor="let item of cartItems">
          <div class="cart-item">
            <h1>{{ item.medicine_name }}</h1>
            <h3>Price: {{ item.price }}</h3>
            <h3> Quantity: {{ item.quantity }}</h3>
            
            <div class="quantity">
              <button class="minus" (click)="decrementQuantity(item)">-</button>
              <button class="plus" (click)="incrementQuantity(item)">+</button>
              <button class="remove" (click)="removeItem(item)"><mat-icon>delete</mat-icon></button>
            </div>
            
          </div>
          <div class="discount">
            <h3>Discount: {{ item.sale_discount }}</h3>
            <h3>Discount: {{ item.medicine_type }}</h3>
            <h3>GST: {{ item.gst_percentage }} %</h3>
          </div>
          <div class="subtotal">
            <p>Total: {{ item.price * item.quantity | number }}</p>
          </div>
        </div>
      </div>
      <div class="total">
        <div>Total: {{ total | number }}</div>
        <div class="buy">Buy Now</div>
      </div>
    </div>

</div>
