<app-header></app-header>

<div class="inventoryTable">
    <!-- <div class="title">
        <h1>Inventory</h1>
    </div> -->
    <div class="filters">
        <div class="options">
            <div class="options">
                <img src="../../../../assets/reload_icon.png" alt="" width="30px" height="30px" (click)="onReload()" class="reload">
                <button (click)="onClick('all')" [ngClass]="{ 'active': active === 'all' }">All</button>
                <button (click)="onClick('available')" [ngClass]="{ 'active': active === 'available' }">Available</button>
                <button (click)="onClick('low-stock')" [ngClass]="{ 'active': active === 'low-stock' }">Low Stock</button>
                <button (click)="onClick('out-of-stock')" [ngClass]="{ 'active': active === 'out-of-stock' }">Out of Stock</button>
            </div>
        </div>
        <div class="search">
            <mat-form-field appearance="fill" class="searchWidth">
                <mat-label>Search Name-Size</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Dolo" #input>
            </mat-form-field>
        </div>
        <div class="dosage_type">
            <label>Dosage Type</label>
            <select name="dosage_type" id="dosage_type" (change)="onChange($event)" #dosage_typeInput>
                <option></option>
                <option value="gel">Gel</option>
                <option value="tablet">Tablet</option>
                <option value="capsule">Capsule</option>
            </select>
        </div>
    </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="medicine_name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by medicine_name"
      >
        medicine_name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.medicine_name }}</td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by size"
      >
        size
      </th>
      <td mat-cell *matCellDef="let element">{{ element.size }}</td>
    </ng-container>

    <ng-container matColumnDef="packing_size">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by packing_size"
      >
        packing_size
      </th>
      <td mat-cell *matCellDef="let element">{{ element.packing_size }}</td>
    </ng-container>

    <ng-container matColumnDef="mrp">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by mrp"
      >
        mrp
      </th>
      <td mat-cell *matCellDef="let element">{{ element.mrp }}</td>
    </ng-container>

    <ng-container matColumnDef="manufacturer_name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        manufacturer_name
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.manufacturer_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by quantity"
      >
        quantity
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.quantity > 0 ? 'green' : 'red'" >{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="content">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by content"
      >
        content
      </th>
      <td mat-cell *matCellDef="let element">{{ element.content }}</td>
    </ng-container>

    <ng-container matColumnDef="dosage_type">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by dosage_type"
      >
        dosage_type
      </th>
      <td mat-cell *matCellDef="let element">{{ element.dosage_type }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="font-size: x-large;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>
